<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method='POST'>
        {% csrf_token %}
      <input type="text" id="productId" class="fadeIn second" name="product_name" placeholder="Product Name">
      <input type="text" id="password" class="fadeIn third" name="product_qty" placeholder="Product QuantitY">
      <input type="submit" class="fadeIn fourth" value="Add">
    </form>
    
</body>
</html>