<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Quantity</th>
           
          </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                
                <td>{{i.id}}</td>
                <td>{{i.Product_Name}}</td>
                <td>{{i.Product_qty}}</td>
                <td><a class="btn btn-danger" href="{% url 'delpo' i.id %}">Delete</a></td>
                <td><a class="btn btn-danger" href="/productedit/{{i.id}}">Edit</a></td>
            </tr>
            {% endfor %}
       
         
        </tbody>
      </table>
    <a class="btn" href="{% url 'add_pro' %}">Add Product</a>
</body>
</html>